* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.main-div {
    max-width: 100%;
    background-color: #1A4B9A;
    height: 40px;
    height: 40px;
    text-align: center;
}

.logo {
    max-width: 40%;
    height: auto;
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 261px;
}

.menu {
    text-align: center;
}

ul li {
    display: inline;
}

.menu-div {
    width: 60%;
    float: right;
}

.menu li a {
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.hero {
    background: url(https://www.pngkey.com/png/full/245-2457015_abstract-blue-wavy-shapes-on-transparent-background-page.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    z-index: -1;
}

.hc {
    text-align: center;
    padding-top: 200px;
    z-index: 10;
}

.L25 {
    width: 400px;
    display: inline-block;
}


/*.overlay {
    background: rgba(58, 148, 6, 0.034);
}*/

.nb {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #007ACC;
    border: 1px solid #007ACC;
}

.nbc {
    padding-top: 30px;
}

.card {
    float: left;
    text-align: center;
}

.s3 {
    max-width: 100%;
    text-align: center;
    padding-top: 100px;
}