* {
    margin: 0px;
    padding: 0px;
}

.main-div {
    max-width: 1160px;
}

.logo {
    max-width: 30%;
}

.menu {
    text-align: center;
    background-color: rgb(0, 255, 115);
}

ul li {
    display: inline;
}

.menu-div {
    width: 70%;
}