* {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.main-div {
    max-width: 100%;
    background-color: #007ACC;
}

.logo {
    max-width: 30%;
    float: left;
}

.menu {
    text-align: center;
}

ul li {
    display: inline;
}

.menu-div {
    width: 70%;
    float: right;
}